<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.dphin.albumview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
    	android:largeHeap="true" >
        <activity
            android:name="uk.co.dphin.albumview.ui.android.AlbumList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.android.NetworkSettings"
            android:label="Network settings">
        </activity>
        <activity
            android:name="uk.co.dphin.albumview.ui.android.AlbumEdit"
            android:label="Edit album"
            android:parentActivityName=".ui.android.AlbumList" >
        </activity>
        <activity
            android:name="uk.co.dphin.albumview.ui.android.AlbumPlayPaused"
            android:label="Play album (paused)"
            android:parentActivityName=".ui.android.AlbumList" >
        </activity>
        <activity
            android:name="uk.co.dphin.albumview.ui.android.AlbumPlayPhotos"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_album_play"
            android:parentActivityName="uk.co.dphin.albumview.ui.android.AlbumPlayPaused"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.dphin.albumview.ui.android.AlbumPlayPaused" />
        </activity>
        <activity
            android:name="uk.co.dphin.albumview.ui.android.AlbumPlayNotes"
            android:label="@string/title_activity_album_play_notes"
            android:parentActivityName="uk.co.dphin.albumview.ui.android.AlbumPlayPaused"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.dphin.albumview.ui.android.AlbumPlayPaused" />
        </activity>
        <activity
            android:name="uk.co.dphin.albumview.ui.android.PanoView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="PanoView"
            android:parentActivityName="uk.co.dphin.albumview.ui.android.AlbumPlayPhotos"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>
